.box{
    font-size: 2rem;
    background-color: pink;
    /* BOX MODEL */
    width: 300px;
    height: 100px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    
}