@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #202830;
}

 /*HEADER*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14181C;
    height: 80px;
    padding: 0 25%;
}

.header .nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn button{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    background-color: #00AC1C;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.nav-links li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #AABBCC;
}

a:hover{
    color: white;
}

.logo img{
    height: 60px;
    width: auto;
    border-radius: 20px;
    cursor: pointer;
}

.user-picture{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    box-shadow: 0 0 0 0.1px white;
}

.thunder{
    height: 22px;
    width: 22px;
}

.loupe{
    height: 22px;
    width: 22px;
    cursor: pointer;
}


/*WELCCOME*/
.welcome{
    color: #AABBCC;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 20px 0;
}

.user{
    color: white;
    border-bottom: 1px solid white;
}

.friends{
    color: #99AABB;
    text-align: left;
    font-size: 20px;
    padding-left: 5%;
}

hr{
    color: white;
    width: 90%
}

.posters{
    margin: 0px 5% 0px;
}

.poster{
    width: 156px;
    height: 259px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 0 1px 0;
}

.poster img{
    width: 156px;
    height: 259px;
    border-radius: 10px;
}

/*Segundos Posters*/

.posters-1{
    margin: 0px 5% 0px;
    position: relative;
}

.poster-base-1{
    width: 156px;
    height: 259px;
    display: inline-block;
}


.poster-1{
    width: 150px;
    height: 225px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

.profile-picture{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 20px;
    border: 1px solid white;
    display: inline-block;
}

.persona{
    background-color: #445566;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.poster-1 img{
    width: 156px;
    height: 259px;
    border-radius: 10px;
}


